body{
    margin:0;
    font-family: "DM serif Display", "Inter", "serif"
}

main,header,footer{
    max-width: 1000px;
    margin: auto;
}

header{
    max-width: 2000px;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #27445D;
}

header p{
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Inter";
}

header nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    font-family: "Inter";
}

header a{
    text-decoration: none;
    color:#fff;
}

header a:hover{
    text-decoration: underline;
}

header nav a{
    color: #fff;
}

header nav a:hover{
    color: #fff;
    text-decoration: underline;
}

.image-container {
    position: relative;
    width: 1265px;  
    height: 500px;  
    margin: 0; 
    top: 0;
  }
  
  .centered-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    top: 0%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .overlay-text {
    font-family: "DM Serif display";
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 80px;
    max-width: 1100px;
    z-index: 2;
  }

main{
    margin-top: 64px;
    padding-top: 16px;
}

.testo-parchi{
    font-family: "DM Serif Display";
    font-size: medium;
   
  }

section.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    max-width: 1100px;
    margin: 48px auto;
}

section.card img{
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .img-row {
    display: flex;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
  }
  
  .img-row img {
    width: 400px;
    height: 350px;
  }
  
  .card2 p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    font-family: "Inter";
  }

h1{
    font-size: 50px;
    font-family: "DM Serif Display";
    margin:auto;
    max-width: 1100px;
    text-decoration: none;
    color: #27445D;
    }

  .image-container1 {
    position: relative;
    width: 1265px;  
    height: 500px;  
    margin: 0; 
    top: 0;
  }
  
  .centered-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    top: 0%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .overlay-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-family: "DM Serif Display";
    max-width: 1100px;
    z-index: 2;
  }

  .image-container2 {
    position: relative;
    width: 1265px;  
    height: 500px;  
    margin: 0; 
    top: 0;
  }
  
  .centered-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    top: 0%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .overlay-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-family:"DM Serif Display";
    max-width: 1100px;
    z-index: 2;
  }

  .image-container3 {
    position: relative;
    width: 1265px;  
    height: 500px;  
    margin: 0; 
    top: 0;
  }
  
  .centered-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    top: 0%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .overlay-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-family: "DM Serif Display";
    max-width: 1100px;
    z-index: 2;
  }

  .image-container4 {
    position: relative;
    width: 1265px;  
    height: 500px;  
    margin: 0; 
    top: 0;
  }
  
  .centered-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    top: 0%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .overlay-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-family: "DM Serif Display";
    max-width: 1100px;
    z-index: 2;
  }

  .image-container5 {
    position: relative;
    width: 1265px;  
    height: 500px;  
    margin: 0; 
    top: 0;
  }
  
  .centered-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    top: 0%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .overlay-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-family: "DM Serif Display";
    max-width: 1100px;
    z-index: 2;
  }

  .image-container6 {
    position: relative;
    width: 1265px;  
    height: 500px;  
    margin: 0; 
    top: 0;
  }
  
  .centered-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    top: 0%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .overlay-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-family: "DM Serif Display";
    max-width: 1100px;
    z-index: 2;
  }

  .image-container7 {
    position: relative;
    width: 1265px;  
    height: 500px;  
    margin: 0; 
    top: 0;
  }
  
  .centered-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    top: 0%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .overlay-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-family: "DM Serif Display";
    max-width: 1100px;
    z-index: 2;
  }
  
  .testo-iparchi p2{
   font-family: "DM Serif Display";
   font-size: 18px;
   line-height: 1.6;
  }

  .testo-iparchi p3{
    font-family: "Inter";
    font-size: 16px;
    line-height: 1.6;
   }

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    position: relative;
    width: 450px;
    height: 250px;
    overflow: hidden;
    box-shadow: #27445D
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(14, 52, 81, 0.9);
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 16px;
    font-family: "Inter";
}
.card.large {
    width: 920px;
    height: 300px;
    margin: auto;
}
.card.large1 {
    width: 920px;
    height: 300px;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
}

.gallery1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card1 {
    position: relative;
    width: 450px;
    height: 250px;
    overflow: hidden;
    box-shadow: #27445D
}

.card1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(14, 52, 81, 0.9);
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 16px;
    font-family: "Inter";
}

a {
    color: white;
    text-decoration: none;
}

.gallery5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.card5 {
    position: relative;
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.card5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(15, 43, 63, 0.9);
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 13px;
}

.Attivita-inprimopiano1{
    font-family: "Inter";
    font-size: medium;
    margin-top: 100px;
    line-height: 1.6;
    }

  .contenitore{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
    margin-top: -20px;
  }
  
  .testo{
    flex: 15;
    max-width: 1100px;
    font-family: "Inter";
    line-height: 1.6;
  }

  h2{
    color: #24445C;
    margin-bottom: 20px;
    max-width: 1100px;
    font-family: "DM Serif Display";
 }
  
  .immagine {
    flex: 1;
    max-width: 1100px;
  }
  
  .immagine img {
    width: 200px;
    height: 250;
    object-fit: cover;
    justify-content: right;
  }

  .contenitore1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
  }
  
  .testo1{
    flex: 15;
    max-width: 1100px;
    font-family: "Inter";
    line-height: 1.6;
  }

  h2{
    color: #24445C;
    margin-bottom: 20px;
    max-width: 1100px;
    font-family: "DM Serif Display";
 }
  
  .immagine1 {
    flex: 1;
    max-width: 1100px;
  }
  
  .immagine1 img {
    width: 200px;
    height: 250;
    object-fit: cover;
    justify-content: right;
  }

  .contenitore2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
  }
  
  .testo2{
    flex: 15;
    max-width: 1100px;
    font-family: "Inter";
    line-height: 1.6;
  }

  h2{
    color: #24445C;
    margin-bottom: 20px;
    max-width: 1100px;
    font-family: "DM Serif Display";
 }
  
  .immagine2 {
    flex: 1;
    max-width: 1100px;
  }
  
  .immagine2 img {
    width: 200px;
    height: 250;
    object-fit: cover;
    justify-content: right;
  }

  .contenitore3{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
  }
  
  .testo3{
    flex: 15;
    max-width: 1100px;
    font-family: "Inter";
    line-height: 1.6;
  }

  h2{
    color: #24445C;
    margin-bottom: 20px;
    max-width: 1100px;
    font-family: "DM Serif Display";
 }
  
  .immagine3 {
    flex: 1;
    max-width: 1100px;
  }
  
  .immagine3 img {
    width: 300px;
    height: 400;
    object-fit: cover;
  }


footer{
    max-width: 2000px;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #27445D;
}

footer p{
    margin: 0;
    text-transform: uppercase;
    font-family: "Inter";
}

footer nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    font-family: "Inter";
}

footer a{
    text-decoration: none;
    color:#fff;
}

footer a:hover{
    text-decoration: underline;
}

footer nav a{
    color: #fff;
}

footer nav a:hover{
    color: #fff;
    text-decoration: underline;
}

.points-of-interest {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
    gap: 40px;

  }
  
  .text-content {
    flex: 1;
    max-width: 600px;
  }
  
  .text-content h2 {
    color: #27445D;
    font-size: 20px;
  }
  
  .text-content p {
    font-size: 13px;
    line-height: 1.6;
    color: #000;
    font-family: "Inter";
    align-items: flex-start;
    margin-left: 5px;
  }
  
  .image-content img {
    width: 250px;        
    height: 250px;
    margin-top: 50px;
  }

  .flora-fauna {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
    gap: 40px;
  }
  
  .image-content6 img {
    width: 250px;        
    height: 250px;       
    object-fit: cover; 
    margin-top: 20px;
  }
  
  .text-content6{
    max-width: 700px;
    font-family: "Inter";
  }
  
  .text-content6 h2 {
    font-size: 20px;
    color: #27445D; 
    margin-bottom: 20px;
  }
  
  .text-content6 p {
    font-size: 13px;
    line-height: 1.6;
    color: #000;
    margin-bottom: 16px;
  }

  .attivita-specifiche p {
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;
  }

  .informazioni-utili p{
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 100px;
  }

  .Fondazione-AB{
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;
  }

  .Fondazione-VS{
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;
  }
  .Fondazione-ET{
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;
  }
  .Fondazione-SL{
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;
  }


  .Fondazione-AT{
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;
  }

  .points-of-interestvs {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
    gap: 40px;

  }
  
  .text-contentvs {
    flex: 1;
    max-width: 1100px;
  }
  
  .text-contentvs h2 {
    color: #27445D;
    font-size: 20px;
  }
  
  .text-contentvs p {
    font-size: 13px;
    line-height: 1.6;
    color: #000;
    font-family: "Inter";
    align-items: flex-start;
    margin-left: 5px;
  }
  
  .image-contentvs img {
    width: 250px;        
    height: 250px;
    margin-top: 50px;
  }


  .flora-faunavs1 {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
    gap: 40px;
  }
  
  .image-contentvs1 img {
    width: 250px;        
    height: 250px;       
    object-fit: cover; 
    margin-top: 20px;
  }
  
  .text-contentvs1{
    max-width: 700px;
    font-family: "Inter";
  }
  
  .text-contentvs1 h2 {
    font-size: 20px;
    color: #27445D; 
    margin-bottom: 20px;
  }
  
  .text-contentvs1 p {
    font-size: 13px;
    line-height: 1.6;
    color: #000;
    margin-bottom: 16px;
  }

  .attivita-specifichevs p {
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;
  }

  .informazioni-utilivs p{
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 100px;
  }
  .Informazioni-utiliet p{
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 100px;
  }
  
  .points-of-interestet {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
    gap: 40px;

  }
  
  .text-contentet {
    flex: 1;
    max-width: 600px;
  }
  
  .text-contentet h2 {
    color: #27445D;
    font-size: 20px;
  }
  
  .text-contentet p {
    font-size: 13px;
    line-height: 1.6;
    color: #000;
    font-family: "Inter";
    align-items: flex-start;
    margin-left: 5px;
  }
  
  .image-contentet img {
    width: 250px;        
    height: 250px;
    margin-top: 50px;
  }

  .container {
    display: flex;
    padding: 40px;
    gap: 40px;
    align-items: flex-start;
  }
  
  .text {
    flex: 2;
    font-size: 14px;
    font-family: "Inter";
    line-height: 1.6;
  }
  
  .image {
    flex: 1;
    margin-top: 70px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }

  .intro-attivita{
    font-size: 14px;
    font-family: "Inter";
    line-height: 1.6;
  }